* {
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 150%;
    font-size: clamp(10px, 3vw, 24px);
}

body {
    display: grid;
    grid-template-areas: 
        "encabezado encabezado"
        "izquierda derecha"
        "pie-pagina pie-pagina";
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    grid-auto-flow: dense;
    margin: 1.5em;
}

header {grid-area: encabezado;}
.izquierda {grid-area: izquierda;}

.derecha {
    grid-area: derecha;
    background: white;
    border-radius: 18px;
    padding: 21px;
}

footer {
    grid-area: pie-pagina;
    border-radius: 18px;
}

.txt-area {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

.text-area {
    border: none;
    color: #0A3871;
    resize: none;
    overflow: hidden;
    height: auto;
    width: 100%;
    margin: 1rem;
}

::placeholder {color: #0A3871;}

.text-area:focus {outline: none;}

.txt-msn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 18px;
}

.mensaje {
    border-radius: 18px;
    border: none;
    background: white;
    background-repeat: no-repeat; /* para cuando se agregue la imagen gato con ojos*/
    color: #0A3871;
    resize: none;
    overflow: hidden;
    height: auto;
    width: 100%;
}

.mensaje:focus {outline: none;}

.botones {
    display: grid;
    grid-template-areas: 
        "encriptar desencriptar";
    gap: 15px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    grid-auto-flow: dense;
}

.boton-encriptar {
    grid-area: encriptar;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 18px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.boton-desencriptar {
    grid-area: desencriptar;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 18px;
    color: #0A3871;
    cursor: pointer;
    padding: 10px;
}

.copiar {
    background: white;
    display: grid;
    grid-template-areas: 
        "copiar";
    gap: 15px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    grid-auto-flow: dense;
    border-radius: 18px;
}

.boton-copiar {
    grid-area: copiar;
    background: white;
    border: 1px solid #0A3871;
    border-radius: 18px;
    color: #0A3871;
    cursor: pointer;
    padding: 10px;
    margin: 72px 3rem 0;
}

.texto-informativo {
    color: #495057;
    font-size: clamp(6px, 3vw, 12px);
}

.pie {    
    font-size: clamp(6px, 3vw, 14px);
    color: #F3F5FC;
    background: #0A3871;
    margin: 5px 0;
}

.pie-pagina {
    padding: 10px 10px 0;
    text-align: center;
    background: url(imagenes/pie-pagina.PNG);
}

@media screen and (min-width: 336px) and (max-width: 850px){
    .boton-desencriptar{font-size:80%;}
    .boton-encriptar{font-size:80%;}
    .boton-copiar{font-size:80%;}

    .botones {
        display: grid;
        grid-template-areas: 
            "encriptar desencriptar";
        gap: 10px;
        grid-auto-flow: dense;
    }
}

@media screen and (min-width: 0px) and (max-width: 335px){    
    .boton-desencriptar{font-size:55%;}
    .boton-encriptar{font-size:55%;}
    .boton-copiar{font-size:55%;}

    .botones {
        display: grid;
        grid-template-areas: 
            "encriptar desencriptar";
        gap: 10px;
        grid-auto-flow: dense;
    }
}

@media screen and (min-width: 0px) and (max-width: 480px){
    .boton-copiar {margin: 42px 18px 0;}
    .texto-informativo {font-size: clamp(6px, 3vw, 10px);}
    .img-info {width: 4%;}
}